<footer>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/">Blog</a></li>
    </ul>
    <ul>
      <li>
        <a href="https://github.com/matthewblott" target="_blank" rel="noreferrer">
          <svg viewBox="0 0 448 512">
            <use href="/assets/img/github.svg#x" />
          </svg><span>Github</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/MatthewBlott" target="_blank" rel="noreferrer">
          <svg viewBox="0 0 448 512">
            <use href="/assets/img/twitter.svg#x" />
          </svg><span>Twitter</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>
