<header>
  <logo>
    <a href="/">
      <span>
        CCH
      </span>
      <svg viewBox="-10 0 660 512">
        <use href="/assets/img/coffee.svg#x" />
      </svg>
    </a>
  </logo>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>|</li>
      <li><a href="/about">About</a></li>
      <li>|</li>
      <li><a href="/other-stuff">Other Stuff</a></li>
    </ul>
  </nav>
  <search>
    <span>Click here for</span>
    <span title="search">
      <svg viewBox="0 0 512 512">
        <use href="/assets/img/search.svg#x" />
      </svg>
    </span>
    <span>or press Cmd+K</span>
  </search>
</header>
