---
layout: layouts/base.html
title: Fubar
pagination:
  data: collections.tech
  reverse: true
  size: 5
  alias: bar 
---

<ul>
{%- for post in bar -%}
  <li>
    <h3>{{ post.data.title }}</h3>
    <h4>{{ post.data.date | toUTCString }}</h4>
  
    <p>
      <a href="{{ post.url }}">More ...</a>
    </p>
  </li>
{%- endfor -%}
</ul>

{% if pagination.href.previous %}
<a href="{{pagination.href.previous}}">Newer Posts</a>
{% endif %} {% if pagination.href.next %}
<a href="{{pagination.href.next}}">Older Posts</a>
{% endif %}
