---
layout: layouts/base.html
title: Other Stuff
pagination:
  data: collections.other-stuff
  reverse: true
  size: 5
  alias: posts 
---

<ul>
{%- for post in posts -%}
  <li>
    <h2>{{ post.data.title }}</h2>
    <h3>{{ post.data.date | toUTCString }}</h3>
    <p>
      {{ post.templateContent | stripHtml }}
      <a href="{{ post.url }}"><em> More</em></a>
    </p>
  </li>
{%- endfor -%}
</ul>

{% if pagination.href.next %}
<a href="{{pagination.href.next}}">Older Posts</a>
{% endif %}
{% if pagination.href.previous %}
<a href="{{pagination.href.previous}}">Newer Posts</a>
{% endif %}
